
.navbar {
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0);
    /* โปร่งใส */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav-link {
    color: white !important;
}


.nav-item{
    font-size: 20px;
}

.custom-input {
    width: 250px;
    padding: 8px 12px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.custom-input:hover,
.custom-input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}

.custom-btn {
    padding: 8px 20px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.custom-btn:active {
    transform: scale(0.95);
}
