
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        body {
            background-image: url('img/2.png');
            background-size: cover;
            height: 100vh;
        }

        .container {
            border-radius: 30px;
            width: 900px;
            max-width: 100%;
            min-height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        .card {
            background-color: rgba(106, 99, 99, 0.2);
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 900px;
            overflow-y: auto;
        }

        .card-body {
            border-radius: 15px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .card-title,
        .form-label {
            font-family: 'Comic Sans MS', cursive, sans-serif;
            color: white;
            font-weight: bold;
        }

        .form-control {
            border-radius: 20px;
            margin-bottom: 10px;
        }

        .btn {
            border-radius: 20px;
        }

        .btn-success {
            font-size: 1rem;
            padding: 10px 20px;
            background-color: #28a745;
            border: none;
            color: white;
            font-weight: bold;
            width: 200px;
        }

        .btn-danger {
            font-size: 1rem;
            padding: 10px 20px;
            background-color: #dc3545;
            border: none;
            color: white;
            font-weight: bold;
            width: 150px;
        }

        .left-box {
            background-color: rgba(199, 190, 190, 0.1);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .right-box {
            background-color: rgba(222, 214, 214, 0.);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: white;
        }

        .button-group {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
